@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #FAFAFA;
  color: #424242;
}

.header-bg{
  background-image: url('/imgs/left-top.svg'), url('/imgs/app.svg'), url('/imgs/report.svg'), url('/imgs/bot-right.svg');
  background-position: left top, 82% 32%, 16% bottom, right bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 24%, 20%, 23%, 50%;
}
